<html>
    <head>profile page</head>
    <body>
        <form method="post"
        <table>
            <tr>
                <td>age</td>
                <td><input type="number" name="age"></td>
            </tr>
            <tr>
                    <td>hobby</td>
                    <td><input type="text" name="hobby"></td>
                </tr>
                <tr>
                        <td>Favourite place</td>
                        <td><input type="text" name="place"></td>
                    </tr>
                    <tr>
                            
                            <td><input type="submit" name="submit"></td>
                        </tr>
        </table>
        </form>
    </body>
</html>